{% extends 'webapp/application/_base.html' %}


{% block content %}
<a class="btn btn-primary" href="{% url 'webapp:application-list' %}">Applications list</a><br/><br/>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Notifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Clients</a>
  </li>
    <li class="nav-item">
        <a href="#tuto_tab" class="nav-link" id="tuto-tab" data-toggle="tab" role="tab" aria-controls="how_to" aria-selected="false">How to?</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <br/>
      <div class="alert alert-light">
          <h4 class="alert-heading"><strong>Name</strong> &nbsp;{{ application }}</h4>
          <hr/>
          <p style="word-wrap: break-word;">{{ application.description }}</p>
      </div>
      <br/>
      <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">Application token</h4>
          <p style="word-wrap: break-word;font-weight: bold">{{ application.app_token }}</p>
          <hr/>
          <p class="mb-0">Copy it and use it in you  code.</p>
      </div>

  </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><br/>
      <div class="row">
          <div class="col-md-12">
              <table class="table  table-striped">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Send date</th>
                      <th scope="col">Internal UUID</th>
                      <th scope="col">Content</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if notifications %}
                    {% for notification in notifications %}
                        <tr>
                            {# url 'webapp:application-detail' app.pk #}
                          <th scope="row">{{notification.pk}}</th>
                          <td>{{notification.received_date}}</td>
                          <td>{{notification.internal_uuid | truncatechars:20}}</td>
                          <td>{{notification.content}}</td>
                        </tr>
                    {% endfor %}
                  {% endif %}
                  </tbody>
              </table>
          </div>
      </div>


  </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <br/>
      <div class="row">
          <div class="col-md-12">
              <table class="table  table-striped">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">ID client</th>
                      <th scope="col">Internal UUID</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% if clients %}
                    {% for client in clients %}
                        <tr>
                            {# url 'webapp:application-detail' app.pk #}
                          <th scope="row">{{client.pk}}</th>
                          <td>{{client.client_id}}</td>
                          <td>{{client.current_connection_id |truncatechars:20 }}</td>
                        </tr>
                    {% endfor %}
                  {% endif %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
    <div class="tab-pane fade" id="tuto_tab">
        <h3>How to use PushBack server</h3>
        <hr/>
        <ul>
            <li><h4>Create application and save the token</h4></li>
            <li><h4>Register users</h4></li>
            <p>
                You should now register all your users in the notification server and the application,
                registering all the users is not about saving their first name etc, it is only about user's ID,
                in fact you will just provide a list (array) of those ID <code>[id1, id2, etc]</code>. The concerned endpoint is : <code>/api/v1/register/</code>
            </p>
            <li><h4>Send notification</h4></li>
            <p>
                Sending a notification is quite simple, it is a POST request to a HTTP endpoint on PushBack server:
                <code>/api/v1/notify/ </code>
                the query's parameter are :
                <ul>
                    <li><code>users</code> : list of user concern by the notification</li>
            <li><code>conntent</code> : the notification content, ideally it should be a JSON data but you are free to use any kind of text based conte</li>
            <li><code>app_token</code> : the token related to your application.</li>
                </ul>
            </p>
            <li><h4>Listen for notification in client application</h4></li>
            <p>
                A javascript client sdk is available to enable a connected user to listen for the notification from the server,
                using it just require a pass the current user's ID and 2 callbacks,
                one to perform an action when a notification happen and a second when it is disconnected to the server.
                Here is a sample of code :<br/>
                <textarea disabled style="width:100%;" rows="15">
                        <script src="/static/core/js/pusher.js" ></script>
                        <script>
                          PushBack.init(APP_TOKEN_HERE, USER_ID);
                          PushBack.subscribe(
                              function(e) {
                                  // when a notification happen
                                  console.log(e.data)
                                  alert(e.data);
                              },
                              function(e) {
                                  // when disconnected to the WS server (for example when changing a page)
                                  alert('deconnection');
                              }
                          );
                        </script>
                </textarea>


            </p>

        </ul>
    </div>
</div>



{% endblock content %}


{% block js_script %}
<script>
    $(function () {
        //$('#content').tab('show')
    })
</script>
{% endblock js_script %}