{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% block title %}{% endblock title %} - PushBack</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'webapp/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'webapp/css/dashboard.css' %}" rel="stylesheet">
  </head>

  <body>
   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">PushBack</h5>
      <nav class="my-2 my-md-0 mr-md-3">
          {% block nav_list %}

          {% endblock nav_list %}
      </nav>
       {% if request.user.is_authenticated %}
      <a class="btn btn-outline-danger" href="{% url 'account_logout' %}">Logout</a>
       {% else %}
       <a class="btn btn-outline-success" href="{% url 'index' %}">Sign up</a>
       {% endif %}
    </div>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'webapp/js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'webapp/js/popper.min.js' %}"></script>
    <script src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
  {% block js_script %}{% endblock js_script %}

  </body>
</html>