{% extends "account/base.html" %}

{% load i18n widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{  field.label_tag }} {% render_field field class="form-control"  %}
            </div>
        {% endfor %}

        <button type="submit" name="action" class="btn btn-success" >{% trans "Change Password" %}</button>
    </form>
{% endblock %}
